.typeOfTicket {
  display: inline-block;
  background: #8ba5d8;
  padding: 6px 24px;
  color: #ffffff;
  border-radius: 15px 0px;
}

.companyLogo {
  margin-top: 28px;
  width: 39px;
  height: 39px;
}

.logoImg {
  height: 100%;
}

.companyName {
  margin-top: 8px;
  color: #5c5c5c;
}


